.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px;
  width: auto;
}
body {
  background-color: rgb(110, 171, 225);
}
.jumbotron {
  background: rgb(153, 201, 244);
}
.col-lg-4 a {
  color: rgb(14, 58, 96) !important;
}
.col-lg-4 a:hover, a:active {
  color: rgb(208, 227, 244) !important;
}